@import "src/styles/utilities/variables";

.topBar {
  width: calc(100% - 6px);
  display: flex;
  align-content: center;
  padding: 3px 3px 3px 3px;
  background-color: $light-gray-main-transparent;
  position: relative;
  top: 0;
  left: 0;
  font-size: 2rem;
  margin-bottom: 10px;
}