@import "src/styles/utilities/variables.scss";

.genericButton {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: $gray-main;
    color: $orange-main;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
}

.genericButton:hover {
    background-color: $gray-secondary;
    color: white;
    transition: 200ms ease-in-out;
}